.tag {
    display: flex;
    margin-left: 0.5rem;
    background-color: rgba(16, 219, 100, 0.2);
    border-radius: 100px;
    text-align: center;
    font-size: 15px;
    color: white;
    border: 2px solid #10db64;
   /* Green */
}
