html {
  scroll-snap-type: y mandatory;
}

.background{
  background-color: black;
}

.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
  overflow: hidden;
  width: min(500px, 100%);
}

.app__videos {
  position: relative;
  height: 100%;
  border-radius: 20px;
  overflow: scroll;
  width: min(500px, 100%);
  scroll-snap-type: y mandatory;
}

/* Hide scrollbar */
.app__videos::-webkit-scrollbar {
  display: none;
}

.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: inherit;
}
