.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbarItems {
  width: min(500px, 100%);
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarItems svg {
  padding: 0px 100px;
  color: white;
  font-size: 3rem;
}
