.navbar {
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: min(500px, 100%);
}

.navbarItems {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarItems svg {
  padding: 0px 80px;
  color: white;
  font-size: 3rem;
}
